node_modules
*.pem
pass
.pass
hellorunnable
dump.rdb
erl_crash.dump
npm-debug.log
ca.srl
.DS_Store
ansible/roles/hipache/templates/runnable*
ansible/certs/*
ansible/k8/**/configMaps/*cert*
*.retry
*.tfstate*
terraform/credentials.tfvars
terraform/.build
ansible/secrets/*
ansible/**/secrets/*
.idea
