$WorkDirectory /var/spool/rsyslog

# start log rotation via outchannel
# outchannel definition
$outchannel log_rotation_{{ name }},{{ app_log_dir }}/{{ name }}-daemon.log,524288000,/opt/runnable/bin/rotate-{{ name }}-logs.sh
#  activate the channel and log everything to it
if $msg contains '{{ name }}' and $syslogfacility-text == 'local7' then :omfile:$log_rotation_{{ name }}
# end log rotation via outchannel

# {{ name }} access file:
#Add a tag for {{ name }} events
$template LogglyFormatFile{{ name }},"<%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msgid% [{{ loggly_token }}@41058  tag=\"file\" ] %msg%\n"
if $msg contains '{{ name }}' then @@logs-01.loggly.com:6514;LogglyFormatFile{{ name }}
if $msg contains '{{ name }}' then ~
