#!/bin/bash

RULE=$1
TEMP1=`echo $RULE | awk '{print $2}'`
TEMP2=${RULE##*$TEMP1}
CHECK_RULE="iptables -C $TEMP1 $TEMP2"

`$CHECK_RULE`
RESULT=$?

if [[ $RESULT -eq 0 ]]; then
  echo "iptables exists"

else
  echo "iptables not exists"
  `iptables $RULE`
fi