# {{ ansible_managed }}

driftfile /var/lib/ntp/ntp.drift

statsdir {{ app_log_dir }}/ntpstats/
statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

restrict -4 default kdo notrap nomodify nopeer noquery
restrict -6 default kdo notrap nomodify nopeer noquery

restrict 127.0.0.1
restrict ::1

{% for server in ntp_servers %}
server {{ server }} iburst
{% endfor %}
