# Created by ansible-playbook
# Author Varun Palekar <varun.palekar@stackexpress.com>
# Nat start
*nat
:PREROUTING ACCEPT [123:20229]
:INPUT ACCEPT [123:20229]
:OUTPUT ACCEPT [15:1224]
:POSTROUTING ACCEPT [15:1224]
:DOCKER - [0:0]
-A PREROUTING -m addrtype --dst-type LOCAL -j DOCKER
-A OUTPUT ! -d 127.0.0.0/8 -m addrtype --dst-type LOCAL -j DOCKER
-A POSTROUTING -s {{ docker_network }} ! -o docker0 -j MASQUERADE
COMMIT
# Filter start
*filter
:INPUT ACCEPT [78:7706]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [73:10154]
{% for item in iptables_rule %}
{{ item }}
{% endfor %}
-A FORWARD -o docker0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A FORWARD -i docker0 ! -o docker0 -j ACCEPT
-A FORWARD -i docker0 -o docker0 -j ACCEPT
COMMIT
# Completed
