$WorkDirectory /var/spool/rsyslog

# Rotate per hour
$ActionQueueType Direct
$template RotateHourly_docker_engine,"{{ app_log_dir }}/%$YEAR%/%$MONTH%/%$DAY%/%$HOUR%/docker_engine.log"
if $syslogtag contains 'docker_engine' and $syslogfacility-text == 'local7' then { action (type="omfile" DynaFile="RotateHourly_docker_engine" template="RunnableJSON" dirCreateMode="0755" FileCreateMode="0644") }

# Loggly: Add a tag for docker_engine events
$ActionQueueType LinkedList
$template LogglyFormat_docker_engine,"<%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %syslogtag% [{{ loggly_token }}@41058 tag=\"runnable\" tag=\"{{ node_env }}\"] %msg%\n"
if $syslogtag contains 'docker_engine' and $syslogfacility-text == 'local7' then @@logs-01.loggly.com:6514;LogglyFormat_docker_engine
if $syslogtag contains 'docker_engine' and $syslogfacility-text == 'local7' then stop
