disable_mlock = true

backend "s3" {
  bucket = "runnable.vault.bear-clone"
  access_key = "{{ vault_aws_access_key }}"
  secret_key = "{{ vault_aws_secret_key }}"
  region = "us-west-2"
}

listener "tcp" {
  address = "127.0.0.1:{{ vault_local_port }}"
  tls_disable = 1
}
