disable_mlock = true

backend "s3" {
  bucket = "runnable.vault.gamma-fix-consule"
  access_key = "AKIAIRP3NAQAWW7BBGXQ"
  secret_key = "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"
  region = "us-west-2"
}

listener "tcp" {
  address = "127.0.0.1:{{ vault_local_port }}"
  tls_disable = 1
}
