disable_mlock = true

backend "s3" {
  bucket = "runnable.vault.bear-clone"
  access_key = "AKIAIALSDNO3WSKPWOEA"
  secret_key = "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"
  region = "us-west-2"
}

listener "tcp" {
  address = "127.0.0.1:{{ vault_local_port }}"
  tls_disable = 1
}
