# Follows the logfile for a given app_name interpolating the datetime string into the logpath (/var/log/runnable/YYYY/MM/DD/HH/<app_name>.log
# Usage: logtail <app_name>
function logtail() {
    local app_name="$1"
    local datetime=`date +%Y/%m/%d/%H`
    local app_log_dir="{{ app_log_dir }}"
    local logfile="${app_log_dir}/${datetime}/${app_name}.log"
    tail -f ${logfile} | bunyan
}

# Outputs contents of an npm start log for <app_name>, if it exists, into a pager for reading.
# Usage: npmlog <app_name>
function npmlog() {
    local app_name="$1"
    local app_log_dir="/var/log"
    local logfile="${app_log_dir}/${app_name}.log"
    less ${logfile}
}

