%% -*- mode: erlang -*-
%% ----------------------------------------------------------------------------
%% RabbitMQ Sample Configuration File.
%%
%% See http://www.rabbitmq.com/configure.html for details.
%% ----------------------------------------------------------------------------
[
{rabbit,
  [
   %%
   %% Default User / VHost
   %% ====================
   %%

   %% On first start RabbitMQ will create a vhost and a user. These
   %% config items control what gets created. See
   %% http://www.rabbitmq.com/access-control.html for further
   %% information about vhosts and access control.
   %%
   {default_vhost,       <<"/">>},
   {default_user,        <<"{{ rabbit_username }}">>},
   {default_pass,        <<"{{ rabbit_password }}">>},
   {default_permissions, [<<".*">>, <<".*">>, <<".*">>]}

  ]},
 {rabbitmq_management,
  [%% Pre-Load schema definitions from the following JSON file. See
   %% http://www.rabbitmq.com/management.html#load-definitions
   %%
   %% {load_definitions, "/path/to/schema.json"},

   %% Log all requests to the management HTTP API to a file.
   %%
   {http_log_dir, "{{ app_log_dir }}/access.log"}
  ]}
].
